@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Teko";
  src: url("/fonts/Teko.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Saira";
  src: url("/fonts/SairaSemiCondensed-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Saira Semi Condensed";
  src: url("./fonts/SairaSemiCondensed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-alt";
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #050505;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Teko";
  src: url("./fonts/Teko-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Verdana";
  src: url("./fonts/verdana-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jakarta";
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.circular-img {
  float: right;
  border-radius: 50%;
  shape-outside: circle(50%);
  margin-left: 2.5rem;
  margin-bottom: 2.5rem;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
  }
}

::-webkit-scrollbar {
  width: 0.57vw;
}

::-webkit-scrollbar-track {
  background: #C891C8;
}

::-webkit-scrollbar-thumb {
  background: #800080;
  border: .15em solid #C891C8;
  border-radius: 100vw;
}
